<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/cssLibs")
        @Styles.Render("~/Content/css")
    </head>
    <body ng-app="app" ng-cloak>
        @RenderBody()

        @Scripts.Render("~/bundles/jquerry")
        @Scripts.Render("~/bundles/toastr")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/ui-bootstrap")
        @Scripts.Render("~/bundles/soundmanager2")
        @Scripts.Render("~/bundles/app")
        
        @*@RenderSection("scripts", required: false)*@
    </body>
</html>
